### Imports

    web_tools: The web utilities module. It is object-oriented classes containing all the functions and attributes for plugging into a client.

    time: To perform 'cron jobs'; timed scripts such as 'snapshot a user profile every 60 seconds'.
    
    os: Get current working directory.

In [ ]:
import web_tools
import time
import os
os.getcwd()

#### Create session

    Instantiate a web_tools.Twitter_Session object, and pass the get_token_local method the keys JSON contained a Twitter bearer token. See documentation for schema reference.

In [7]:
t1 = web_tools.Twitter_Session()
t1.get_token_local('keys.json')

#### Examples

    8 scripts to capture user data. Gather a user's profile, tweets, following, and followers. Then, conduct 4 seperate keyword queries, each with 1000 results. Warning: beware current rate limits. There are, at present, no direct safeguards to prevent the user from exceeding the rate limit.

    Each time a method is called, the result is written to a SQLite 3 database. Each time a result is written the capture timestamp is included with the data. This allows for temporal analysis, such as the change in a profile's followers over time.

    Refer to the documentation for other methods and attributes. Additionally, some methods, especially the ones that write data to databases, require specific inputs and have few safeguards. Use with decisiveness.

In [8]:
df = t1.get_user_profile('elonmusk')
t1.df_to_db(df['id'][0], df, 'profile')

df2 = t1.get_user_tweets(df['id'][0])
t1.df_to_db(df['id'][0], df2, 'tweets')

df3 = t1.get_user_following(df['id'][0], pages=1)
t1.df_to_db(df['id'][0], df3, 'following')

df4 = t1.get_user_followers(df['id'][0], pages=1)
t1.df_to_db(df['id'][0], df4, 'followers')


df5 = t1.get_string_query('xi', pages=1)
t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df5, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])

df6 = t1.get_string_query('musk', pages=1)
t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df6, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])

df7 = t1.get_string_query('putin', pages=1)
t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df7, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])

df8 = t1.get_string_query('biden', pages=1)
t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df8, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])

#### Retrieve from DB

    Retrieve data from the database.

In [9]:
t1.db_to_df('44196397', 'followers')

,capture_timestamp,username,public_metrics,name,id
0,2022-10-11 22:03:27.753445,scott_skitch,"{'followers_count': 0, 'following_count': 22, ...",Scott Skitch,1580015388133396481
1,2022-10-11 22:03:27.753453,1z711,"{'followers_count': 0, 'following_count': 20, ...",1z7,1349192185477001217
2,2022-10-11 22:03:27.753454,0_remyu0l,"{'followers_count': 0, 'following_count': 1, '...",Remy,1580015707009568768
3,2022-10-11 22:03:27.753455,manimanolo2000,"{'followers_count': 0, 'following_count': 72, ...",Inca Azuay,1580011404446367745
4,2022-10-11 22:03:27.753455,HenryMcManus16,"{'followers_count': 0, 'following_count': 1, '...",Henry McManus,1580016054482472960
...,...,...,...,...,...
2995,2022-10-12 18:40:50.889483,EEmanetci,"{'followers_count': 12, 'following_count': 77,...",Enes Emanetci,1438586079427403779
2996,2022-10-12 18:40:50.889483,Eazy_Www78,"{'followers_count': 0, 'following_count': 22, ...",Vlad Frolov,1580324514881216513
2997,2022-10-12 18:40:50.889483,FulvioIslean,"{'followers_count': 0, 'following_count': 3, '...",Islean Fulvio,1580228721360998401
2998,2022-10-12 18:40:50.889484,BlannonMaria,"{'followers_count': 0, 'following_count': 3, '...",Genoveffa-Maria Blannon,1580291588177240064
2999,2022-10-12 18:40:50.889484,fti_di,"{'followers_count': 0, 'following_count': 10, ...",Andrew,1580322007299801089

#### Useful attributes

    The Twitter_Session object tracks use per session, such as the rate limits returned and queries requested.

In [10]:
t1.limit_log

{'user_profile': {'remaining': 298.0,
  'limit': 300.0,
  'limit_reset': '18:47:13',
  'percent_remaining': 99,
  'limit_delta': '0:06:32',
  'checked_at': datetime.datetime(2022, 10, 12, 18, 40, 41, 379274)},
 'user_tweets': {'remaining': 1434.0,
  'limit': 1500.0,
  'limit_reset': '18:47:13',
  'percent_remaining': 95,
  'limit_delta': '0:06:23',
  'checked_at': datetime.datetime(2022, 10, 12, 18, 40, 50, 104015)},
 'user_following': {'remaining': 13.0,
  'limit': 15.0,
  'limit_reset': '18:47:22',
  'percent_remaining': 86,
  'limit_delta': '0:06:32',
  'checked_at': datetime.datetime(2022, 10, 12, 18, 40, 50, 373590)},
 'user_followers': {'remaining': 13.0,
  'limit': 15.0,
  'limit_reset': '18:47:23',
  'percent_remaining': 86,
  'limit_delta': '0:06:33',
  'checked_at': datetime.datetime(2022, 10, 12, 18, 40, 50, 888587)},
 'query': {'remaining': 370.0,
  'limit': 450.0,
  'limit_reset': '18:47:23',
  'percent_remaining': 82,
  'limit_delta': '0:06:19',
  'checked_at': datetime.datetime(2022, 10, 12, 18, 41, 4, 176431)}}

In [11]:
t1.query_log

{0: {'timestamp': datetime.datetime(2022, 10, 12, 18, 40, 54, 208953),
  'x-transaction-id': '7965fa518f9237b7',
  'query_term': 'xi',
  'parsed_query_term': 'xi'},
 1: {'timestamp': datetime.datetime(2022, 10, 12, 18, 40, 57, 414318),
  'x-transaction-id': 'dbe3877f4f3df53a',
  'query_term': 'musk',
  'parsed_query_term': 'musk'},
 2: {'timestamp': datetime.datetime(2022, 10, 12, 18, 41, 0, 751594),
  'x-transaction-id': 'd5af23a55f87036f',
  'query_term': 'putin',
  'parsed_query_term': 'putin'},
 3: {'timestamp': datetime.datetime(2022, 10, 12, 18, 41, 4, 179021),
  'x-transaction-id': 'de9a13729cdff3b5',
  'query_term': 'biden',
  'parsed_query_term': 'biden'}}

#### Example 'cron'

    This script takes a snapshot of elonmusk's Twitter profile every 60 seconds for 999 epochs, allowing the user to watch profile metrics change minute-by-minute.

In [ ]:
for i in range(999):
    df = t1.get_user_profile('elonmusk')
    t1.df_to_db(df['id'][0], df, 'profile')
    time.sleep(60)
    
    
    print(f'iteration {i+1}')

In [13]:
import web_tools
import random
import sys
import time

t1 = web_tools.Twitter_Session()
t1.get_token_local('keys.json')

for i in range(999):

    if random.choice(range(2)) == 0:
        print(f'searching... ( o) ( o) -  -  -  -  -  - {i+1} ')
    else:
        print(f'{i+1} --- ô¿ô searching...')

    try:
        df5 = t1.get_string_query('china', pages=1)
        t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df5, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])
        print(f'\u001b[31;1m A sample from {t1.query_log[len(t1.query_log)-1]["parsed_query_term"]}\u001b[0m')
        print(df5.iloc[random.choice(range(len(df5)))]['text'])

        df6 = t1.get_string_query('musk', pages=1)
        t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df6, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])
        print(f'\u001b[31;1m A little helping of {t1.query_log[len(t1.query_log)-1]["parsed_query_term"]}\u001b[0m')
        print(df6.iloc[random.choice(range(len(df6)))]['text'])

        df7 = t1.get_string_query('russia', pages=1)
        t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df7, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])
        print(f'\u001b[31;1m A bit of the last one-hundred tweets about {t1.query_log[len(t1.query_log)-1]["parsed_query_term"]}\u001b[0m')
        print(df7.iloc[random.choice(range(len(df7)))]['text'])

        df8 = t1.get_string_query('biden', pages=1)
        t1.df_to_db(id = t1.response.headers['x-transaction-id'], data = df8, type = 'query', query_term = t1.query_log[len(t1.query_log)-1]['parsed_query_term'])
        print(f'\u001b[31;1m Are you sure you want to read about {t1.query_log[len(t1.query_log)-1]["parsed_query_term"]}?\u001b[0m')
        print(df8.iloc[random.choice(range(len(df8)))]['text'])
        time.sleep(161)
    except KeyError as err:
        print(f'Caught KeyError, checking headers...')
        if t1.response.json()['title'] == 'UsageCapExceeded':
            print('Usage cap exceeded! exiting')
            break

    if random.choice(range(2)) == 0:
        print('\u001b[34m Still there?')
        print(t1.random_line())
        print('\n')
        print(t1.random_line())
        print('\n')
        print(t1.random_line())
        print('\n \u001b[0m')


    if random.choice(range(2)) == 0:
        print(f'sleeping (-.-)Zzz...{i+1}')
    else:
        print('[{-_-}] ZZZzz zz z... sleeping')

searching... ( o) ( o) -  -  -  -  -  - 1
Caught 'data', checking headers...
Usage cap exceeded! exiting

In [9]:
t1.limit_log

{'query': {'remaining': 39901.0,
  'limit': 40000.0,
  'limit_reset': '07:39:02',
  'percent_remaining': 99,
  'limit_delta': '0:14:09',
  'checked_at': datetime.datetime(2022, 10, 13, 7, 24, 53, 438544)}}

In [11]:
t1.response.content

b'{"account_id":1520056474126340096,"product_name":"standard-basic","title":"UsageCapExceeded","period":"Monthly","scope":"Product","detail":"Usage cap exceeded: Monthly product cap","type":"https://api.twitter.com/2/problems/usage-capped"}'